@import "./_variables.scss";

.tabListItem {
  color: black;
  display: inline-block;
  list-style: none;
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

.tabListItem:first-child {
  margin-left: 0px;
}

.tabListActive {
  color: white;
  background-color: #353f79;
  border: solid black;
  border-width: 1px 1px 0 1px;
}
