@import "./_variables.scss";

.tabList {
  // background-color: #3f51b5;
  border: 2px solid #3f51b5;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabContent {
  padding: 20px;
  background-color: white;
  border-top-width: 0px;
}
